NODE_PORT=3000
NODE_STARTING_TIMEOUT_MS=100

OPENAI_BASE_URL=https://rest-assistant.api.cloud.yandex.net/v1
OPENAI_API_KEY=apikey
OPENAI_PROJECT__TOUR_FOUNDER=projectid
OPENAI_PROMPT_ID__TOUR_FOUNDER=promptid